<footer class="footer">
  <div class="footertext">
    <!-- <div class="footer-icon"> -->

    <img
      src="/images/petlogo.png "
      width="164px;"
      id="petvet"
      alt="Logo da petvet"
      class="petvet"
    />

    <p>
      "Este serviço não se trata de uma <br />consulta e, por isso, não
      substitui <br />
      o atendimento presencial, não fornece <br />
      diagnósticos e não prescreve medicamentos. <br />
      Seu intuito é apenas o de <br />
      fornecer orientações a seus usuários."
    </p>
  </div>
  <div class="footerlinks">
    <a href="/cadVet">Trabalhe Conosco</a>
    <br />
    <a href="/contato">Contato</a>
    <br />
    <a href="termosdeuso.html">Termos de uso</a>
  </div>

  <div>
    <ul class="footermidias">
      <li href="#">
        <img src="/images/facelogo.png" width="42px;" />
      </li>
      <li href="#">
        <img src="/images/TTlogo.png" width="42px;" />
      </li>
      <li href="#">
        <img src="/images/youlogo.png" width="45px;" />
      </li>
      <li href="#">
        <img src="/images/Instalogo.png" width="42px;" />
      </li>
    </ul>
  </div>
</footer>
