<header>
  <div class="header-icon">
    <img src="/images/petlogo.png" width="50px;" alt="Logo da petvet" /><i
      class="logopet"
    ></i>
  </div>

  <!--Ajuste Gustavo - Adicionado class: itens-menu e criado css-->
  <nav class="itens-menu">
    <ul class="itens">
      <li><a href="/">Inicio</a></li>
      <li><a href="/abaVeterinario">Consultas</a></li>
      <li><a href="/cadVet">Dados cadastro</a></li> 
      

    </ul>   
  </nav>
  <div>
    <a href="Login.html">Gustavo Cortes</a>
  </div>

  <!--Ajuste Gustavo - Adicionado trecho abaixo-->
      
    <span class="btn-menu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  

  <!--Ajuste Gustavo - FIM-->
</header>
