<header>
  <div class="header-icon-Cad">
    <img src="/images/petlogo.png" width="50px;" alt="Logo da petvet" /><i
      class="logopet"
    ></i>
  </div>

  <!--Ajuste Gustavo - Adicionado class: itens-menu e criado css-->
  <nav class="itens-menu-Cad">
    <ul class="itens-Cad">
      <li><a href="/">Inicio</a></li>

      <li><a href="/cadastroPet">Menu</a></li>
      <li><a href="/cadastro">Dados Cadastrais</a></li>
    </ul>
  </nav>
  <div>
    <a href="#">Gustavo Cortes</a>
  </div>

  <!--Ajuste Gustavo - Adicionado trecho abaixo-->

  <span class="btn-menu-Cad">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!--Ajuste Gustavo - FIM-->
</header>
