<header>
  <div class="header-icon">
    <img src="/images/petlogo.png" width="50px;" alt="Logo da petvet" /><i
      class="logopet"
    ></i>
  </div>

  <!--Ajuste Gustavo - Adicionado class: itens-menu e criado css-->
  <nav class="itens-menu">
    <ul class="itens">
      <li><a href="/clientes">Home</a></li>
      <li><a href="/clientes/clientes_consultas">Consultas</a></li>
      <li><a href="/clientes/cadastropets">Cadastro Pet</a></li> 
      <li><a href="/clientes/cadastrocliente">Alterar Dados</a></li> 

    </ul>   
  </nav>
  <div>
    <a href="#">Gustavo Cortes</a>
  </div>

  <!--Ajuste Gustavo - Adicionado trecho abaixo-->
      
    <span class="btn-menu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  

  <!--Ajuste Gustavo - FIM-->
</header>
