<section class="anuncios">
    <div class="box">
         <p class="experimenteAgora">Experimente agora mesmo!</p>
         <br>
       <p class="primeiraConsulta">Primeira consulta grátis!</p>
     </div>

       <div class="btn-promo">
         <button type="button" class="fazerCadastro">Fazer cadastro</button>
         <button type="button" class="contatoPromocao">Contato</button>
       </div>
       <br>
  </section>