<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>

  <body class="">
    <%-include('./partials/header.ejs') %>
    <h3>Minha Agenda</h3>
    <%-include('./partials/footer.ejs') %>
  </body>
</html>
