<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/promo.css" />
  <link rel="stylesheet" href="/stylesheets/header.css" />
  <link rel="stylesheet" href="/stylesheets/footer.css" />


  <link rel="stylesheet" href="/stylesheets/login.css" />


  <title>PetHelp</title>
</head>

<body>
  <%-include('./partials/header.ejs') %>


    <section>

      <div class="">
        <form method="post" class="form" action="/login">

          <br>
          <div class="btn-login">
            <a href="/cadastro" class="cadastroLogin">Cadastrar</a>
          </div>
          <br>

      
         <br>
         <div>
        <label for="usuario" id="usuario">E-mail:</label>
        <br>
        <input type="email" id="email" name="email" required class="formularioLogin">
        <br>
        <label for="senha">Senha:</label>
        <br>
        <input type="password" id="password" name="password" minlength="8" required class="formularioLogin">
        <p>* Senha deve conter no mínimo 8 caracteres.</p>
        <br>

        <br>
        <div class="btn-sigIn">
          <button type="submit" value="Entrar" class="btn-verde">Entrar</button>
          <button type="button" class="btn-vermelho">Limpar</button>
        </div>
        <br>
        </form>
      </div>
      </div>
    </section>

    <%- include('./partials/promo.ejs') %>


      <%- include('./partials/footer.ejs') %>

</body>

</html>