@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@200&display=swap');
*{
  font-family: 'Kantumruy Pro', sans-serif;
  margin: 0;
}


footer {
  background-color: hsl(137, 100%, 81%);
  color: black;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  margin-bottom: 0;
  width: 100%;
}

.footertext {
  align-items: center;
  display: flex;
}

.footerlinks {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 18px;
  flex-direction: column;
}
.footerlinks > a {
  border-radius: 10px;
  padding: 4px;
  transition: all 0.5s;
}
.footerfrase {
  text-align: left;
}

.footermidias {
  list-style: none;
  display: flex;
  gap: 18px;

  justify-content: end;
}

/* comentario */
@media (max-width: 786px) {
  footer {
    justify-content: space-around;
  }

  .footerlinks {
  }

  .footermidias {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}
@media (max-width: 786px) {
  .footertext > p {
    font-size: 12px;
  }
  p {
    display: none;
  }
  img {
    max-width: 90%;
  }
}
