* {
  margin: 0;
}

footer {
  background-color: hsl(137, 100%, 81%);
  color: black;

  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;

  justify-content: space-between;
  border-radius: 6px;
}

.footertext {
  align-items: center;
  display: flex;
}

.footerlinks {
  display: flex;

  align-items: center;
  font-size: 18px;
  flex-direction: column;
}
.footerlinks > a {
  border-radius: 10px;
  padding: 4px;
  transition: all 0.5s;
}
.footerfrase {
  text-align: left;
}

.footermidias {
  list-style: none;
  display: flex;
  gap: 18px;

  justify-content: end;
}

/* comentario */
@media (max-width: 786px) {
  footer {
    justify-content: space-around;
  }

  .footerlinks {
  }

  .footermidias {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}
@media (max-width: 786px) {
  .footertext > p {
    font-size: 12px;
  }
}
