* {
  margin: 0;
  text-decoration: none;

}

.menu-mobile {
  display: none;
}

header {
  background-color: hsl(137, 100%, 81%);
  color: black;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;

  height: 50px;
  justify-content: space-between;

  padding: 0px;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  width: 80%;
}

nav > a {
  font-family: "Arial";
  font-size: 18px;
  transition: all 0.5s;
  color: black;
}
a:hover {
  background-color: hsla(137, 59%, 65%, 0.829);
}

.itens {
  color: black;
  list-style: none;
  display: flex;
  font-size: 18px;
  gap: 50px;
  text-decoration: none;
}

.itens li {
  margin: 50px;
}

@media (max-width: 786px) {
  .itens-menu {
    display: none;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
  }

  .btn-menu {
    width: 45px;
    height: 40px;
    left: 10px;
    padding: 10px;

    cursor: pointer;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
  }

  .btn-menu span {
    height: 3px;
    display: block;
    margin-bottom: 5px;
    background-color: rgb(0, 0, 0);
  }
}