@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@200&display=swap');
*{
  font-family: 'Kantumruy Pro', sans-serif;
}

.anuncios{
    display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 25px;
}
.experimenteAgora{
    color: black;
    font-weight: bold;
      font-size: 32px;
      
  }
  .primeiraConsulta{
      color: red;
      font-weight: bold;
      font-size: 40px;
  }
  .fazerCadastro{
    background-color: black;
    color: white;
    width: 198px;
    height: 42px;
  }
  .contatoPromocao{
    background-color: white;
    text-decoration-color: black;
    width: 198px;
    height: 42px;
  }
 